# build artefacts
www/

# wip content
src/content/posts/_drafts
src/content/posts/_old

# secrets and errors
.env
*.log
npm-debug.log*

# macOS related files
.DS_Store
Icon?

# dependency directories
node_modules/

# temporary files
.npm

# cache
.eslintcache
.cache

# deployment Files
.netlify

# random thoughts
.notes.txt
