* {margin: 0;padding: 0;}

.cf:after,
.cf:before {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
  
/*GENERIC STYLES*/
body { 
  background: #f2f2f2;
  color: #222;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.05em;
  font-weight: 400;
  height: auto !important;
  height: 100%;
  line-height: 1.6rem;
  min-height: 100%;
}

/*NAV*/
  header#top-menu {
    background: linear-gradient(to left,rgba(255, 102, 153,0.96) 0,rgba(255, 51, 119,0.96) 100%);
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    display: block;
    width: 43%;
    z-index: 1000;
    float: left;
  }
  
  header#top-menu > nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
    header#top-menu > nav > ul > li {
      flex: 0 1 auto;
      margin: 0;
      padding: 0;
      position: relative;
      transition: all linear 0.1s;  
    }
    
      header#top-menu > nav > ul > li:hover {
        background: rgba(255, 51, 119,1);
      }
      
      header#top-menu > nav > ul > li a + div {
        background: linear-gradient(to bottom,rgba(255, 51, 119,1) 0,rgba(255, 51, 119,0.96) 100%);
        border-radius: 0 0 2px 2px;
        box-shadow: 0 3px 1px rgba(0,0,0,.05);
        display: none;
        font-size: 1rem;
        position: absolute;
        width: 195px;
      }
      
        header#top-menu > nav > ul > li:hover a + div {
          display: block;
        }
        
        header#top-menu > nav > ul > li a + div > ul {
          list-style-type: none;  
        }
        
          header#top-menu > nav > ul > li a + div > ul > li {
            margin: 0;
            padding: 0;
          }
          
            header#top-menu > nav > ul > li a + div > ul > li > a {
              color: rgba(255,255,255,.9);
              display: block; 
              font-size: .75rem;
              letter-spacing: 1.5px;
              padding: .25rem 1.5rem;
              text-decoration: none;
              text-transform: uppercase;
            }
            
              header#top-menu > nav > ul > li a + div > ul > li:hover > a {
                background-color: rgba(0,0,0,.15);  
              }

              header#top-menu > nav > ul > li a + div > ul > li > ul { display: none; list-style-type: none;  }

              header#top-menu > nav > ul > li a + div > ul > li:hover > ul { 
                display: block;
                background: linear-gradient(to bottom,rgba(255, 51, 119,1) 0,rgba(255, 51, 119,0.96) 100%);
                border-radius: 0 0 2px 2px;
                box-shadow: 0 3px 1px rgba(0,0,0,.05);
                font-size: 1rem;
                position: absolute;
                width: 195px;
                left: 195px;
                top: 101px;
              }
              header#top-menu > nav > ul > li a + div > ul > li:hover > ul a {
                color: rgba(255,255,255,.9);
                display: block; 
                font-size: .75rem;
                letter-spacing: 1.5px;
                padding: .25rem 1.5rem;
                text-decoration: none;
                text-transform: uppercase;
              }

              header#top-menu > nav > ul > li a + div > ul > li > ul li:hover > a {
                background-color: rgba(0,0,0,.15);  
              }


      header#top-menu > nav > ul > li > a {
        align-items: flex-start;
        color: #fff;
        display: flex;
        font-size: 1.55rem;
        font-weight: 200;
        letter-spacing: 1px;
        max-width: 130px;
        padding: 1rem 1.5rem;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        transition: all linear 0.1s;
      }
      
        header#top-menu > nav > ul > li > a > div > span {
          color: rgba(255,255,255,.75);
          display: block;
          font-family: Georgia, "Times New Roman", Times, serif;
          font-size: .7rem; 
          font-style: italic;
          line-height: 1rem;
          max-width: 260px;
        }

@media (min-width: 990px) {
  header#top-menu > nav > ul > li > a {
    max-width: 500px;
    font-size: 1.7rem;
  line-height: 2rem;
  }
  
  header#top-menu > nav > ul > li > a > div > span {
    margin: 4px 0 0;  
  }
}