<footer class="site-footer" role="contentinfo">
    <p><strong>&copy;{% year %} Mina Markham</strong> Made with <span class="emoji">💻 </span> by me + <a href="/speaker-kit/">Speaker Kit</a> + <a href="/styleguide/">Styleguide</a> + <a href="{{ pkg.repository.url }}" target="_blank">View source</a> + Powered by <a href="https://www.11ty.dev/">Eleventy</a> &amp; <a href="https://www.netlify.com/">Netlify</a>.</p>
</footer>