<div class="c-footnotes">
	<h2 class="visually-hidden" id="footnote-label">Footnotes</h2>
	<ol>
		{% for footnote in footnotes %}
		<li id={{ footnote.key }}>{{ footnote.note | safe }} <a href="#{{ footnote.key }}-ref" aria-label="Back to content">↩</a></li>
		{% endfor %}
	</ol>
</div>