<header class="menu">
	<div class="menu__title-wrap">
		<a href="/" class="menu__title">Mina Markham</a>
	</div>
	<nav class="menu__right">
		{% include 'partials/theme-controls.njk' %}
		<input class="menu-btn" type="checkbox" id="menu-btn" />
		<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
		<ul class="menu__links">
			{% for item in navigation %}
			<li><a href="{{ item.url }}" class="menu__item{% if item.url == page.url %} menu__item--current{% endif %}">{{ item.title }}</a></li>
			{% endfor %}
		</ul>
	</nav>
</header>