<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="/favicon.png" type="image/svg+xml">
	<link rel="icon" href="/favicon.ico" sizes="any"><!-- 32×32 -->
	<link rel="icon" href="/icon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
	<link rel="manifest" href="/manifest.webmanifest">

	{# RSS Feed #}
	<link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed.xml" title="{{ site.title }}">

	{# metagen plugin output #}
	{% metagen
		title = title or docTitle + " " + site.title,
		desc = site.desc,
		url = site.url + page.url,
		img = site.url + site.image.src,
		img_alt = site.image.alt,
		twitter_card_type = "summary_large_image",
		twitter_handle = site.author.handle,
		name = site.author.name,
		comments = false,
		locale = "en_us",
		css = ["https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css", "/assets/styles/main.css"]
	%}

	{% if page.url === '/styleguide/' %}
	<link rel="stylesheet" href="{{ '/assets/styles/styleguide.css' | url }}">
	{% endif %}

	{# If ELEVENTY_ENV environmental variable isn't set to "production", hide this page from search engines #}
	{% if (index === false) %}
		<meta name="robots" content="noindex,nofollow">
	{% endif %}

	{% if page.url === '/' %}
	{% set bodyClass = 'cover' %}
	{% endif %}

	<script>
		if (localStorage.getItem('darkMode') === 'true')
		document.documentElement.setAttribute('dark', true);
		if (localStorage.getItem('theme'))
		document.documentElement.setAttribute('data-theme', localStorage.getItem('theme'));
	</script>
</head>
