{% script "src/assets/scripts/main.js" | url %}
{% script "src/assets/scripts/themes.js" | url %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y4SXV7CVQR"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'G-Y4SXV7CVQR');
</script>