---
permalink: /404.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<!--
	 _          _   _
	| |        | | | |      |
	| |     _  | | | |  __  |
	|/ \   |/  |/  |/  /  \_|
	|   |_/|__/|__/|__/\__/ o

	look at you, being nosy.
	View the source here: {{ site.repo }}
-->

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="icon" href="/assets/icons/favicon.png" type="image/svg+xml">
		<link rel="icon" href="/favicon.ico" sizes="any"><!-- 32×32 -->
		<link rel="icon" href="/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
		<link rel="manifest" href="/manifest.webmanifest">

		{# RSS Feed #}
		<link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed.xml" title="{{ site.title }}">

		{# metagen plugin output #}
		{% metagen
			title = "404 Page Not Found | " + site.title,
			desc = site.desc,
			url = site.url + page.url,
			img = site.url + site.image.src,
			img_alt = site.image.alt,
			twitter_card_type = "summary_large_image",
			twitter_handle = site.author.handle,
			name = site.author.name,
			comments = false,
			locale = "en_us",
			css=["/assets/styles/404.css"]
		%}

		{# If ELEVENTY_ENV environmental variable isn't set to "production", hide this page from search engines #}
		{% if (index == false) %}
			<meta name="robots" content="noindex,nofollow">
		{% endif %}

		<script>document.getElementById("path").innerHTML = window.location.href;</script>
	</head>

	<body>
		<main>
			<p class="homedir">~/404</p>
			<p class="input">find <span id="path">/whatever-youre-looking-for/</span></p>
			<p>> Searching for requested resource&hellip;<br/>
			> Yeah, that didn't work. Try one of these:</p>

			<p>🧁<br/>
			├── <a href="/about/">/about/</a><br/>
			├── <a href="/projects/">/projects/</a><br/>
			│   └─ &hellip;<br/>
			├── <a href="/posts/">/posts/</a><br/>
			│   └─ &hellip;<br/>
			├── <a href="/speaking/">/speaking/</a><br/>
			├── <a href="/press-kit/">/press-kit/</a><br/>
			├── <a href="/say-hi/">/say-hi/</a><br/>
			├── <a href="/hire-me/">/hire-me/</a><br/>
			└── <a href="/">/home/</a></p>

			<p>That's all I got. Go look at something else.</p>
		</main>
	</body>
</html>
