---
layout: base.njk
title: "Home"
permalink: /
templateClass: home
---

<div>
	{% include "partials/hello.njk" %}
	<p>I am an engineer, designer, <a href="/speaking/">speaker</a>, and <a href="/posts/">writer</a> specializing in CSS architecture & design systems. Based in Oakland. Currently @ <a href="https://www.slack.com">Slack</a>.
</div>
