---
layout: page.njk
title: 'Speaking'
subtitle: I've been told I talk too much.
permalink: /speaking/
---
{% set pastEvents = collections.pastEvents %}
{% set upcomingEvents = collections.upcomingEvents %}

<h2>An international keynote speaker with over nine years experience, I have spoken at events all over the world including <a href="https://aneventapart.com/">An Event Apart</a>, <a href="https://www.clarityconf.com/">Clarity</a> and <a href="https://www.braziljs.org/">BrazilJS</a>.</h2>

<p>Am I any good? I think so. And <a href="https://twitter.com/WriteSpeakCode/status/901473654843744260">other</a> <a href="https://twitter.com/CSSDevConf/status/917411566890504192">people</a> do too. Check <a href="https://www.youtube.com/watch?v=SMJmrt3J6B8">this talk from beyond tellerrand</a> and see for yourself.</p>

<p>If you're interested in having me speak, please review my <a href="/rider/">speaker rider</a> to get started.</p>

<h2>Upcoming Appearances</h2>
{% if upcomingEvents.length > 0 %}
<table>
	<thead>
		<tr>
			<th>Event</th>
			<th>Date</th>
			<th>Location</th>
			<th>Link</th>
		</tr>
	</thead>
	<tbody>
		{% for event in upcomingEvents %}
		<tr>
			<td data-label="Event"><a href="{{ event.url }}">{{ event.name }}</a></td>
			<td data-label="Date"><time datetime="{{ event.datetime | machineDate }}">{{ event.datetime | readableDate }}</time></td>
			<td data-label="Location">{{ event.where }}</td>
			<td data-label="Link"><a href="{{ event.onsale.url }}">Buy Tickets</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{%- else -%}
<p>None scheduled —</p>
{%- endif -%}

<h2>Past Appearances</h2>

<h4>I have appeared at {{ pastEvents.length }} events on (almost) every continent.</h4>

{% include "partials/map.njk" %}

<table>
	<thead>
		<tr>
			<th>Event</th>
			<th>Date</th>
			<th>Location</th>
			<th>Assets</th>
		</tr>
	</thead>
	<tbody>
		{% for event in pastEvents %}
		<tr>
			<td data-label="Event">
				<a href="{{ event.url }}">{{ event.name }}</a>
				{# {% if event.keynote %}<span class="post-tag">keynote</span>{%- endif -%}
				{% if event.panel %}<span class="post-tag">panel</span>{%- endif -%}
				{% if event.workshop %}<span class="post-tag">workshop</span>{%- endif -%} #}
			</td>
			<td data-label="Date"><time datetime="{{ event.datetime | machineDate }}">{{ event.datetime | readableDate }}</time></td>
			<td data-label="Location">{{ event.where }}</td>
			<td data-label="Assets">
				{% if event.slides %}<a href="{{ event.slides }}" target="_blank">Slides</a>{%- endif -%}
				{% if event.video %}<a href="{{ event.video }}" target="_blank">Video</a>{%- endif -%}
				{% if event.qa %}<a href="{{ event.qa }}" target="_blank">Q&amp;A</a>{%- endif -%}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<h2>Podcasts & Such</h2>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Name</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		{% for podcast in podcasts %}
		<tr>
			<td data-label="Title"><a href="{{ podcast.url }}">{{ podcast.title }}</a></td>
			<td data-label="Name">{{ podcast.host }}</td>
			<td data-label="Date"><time datetime="{{ podcast.datetime | machineDate }}">{{ podcast.datetime | readableDate }}</time></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
