---
layout: page.njk
title: 'Speaker Kit'
subtitle: Hi! 👋🏾 Do you need a bio and/or photo of me? You can copy and paste from the info below. For high-res images, download my speaker kit. Please be sure to include photo credits when applicable.
permalink: /speaker-kit/
templateEngineOverride: njk,md
---
</div>
<section class="photo__grid">
	{% for photo in photos %}<figure class="photo__grid-item"><img src="{{ photo.src }}" alt="" /><figcaption>{{ photo.credit | safe }}</figcaption></figure>{% endfor %}
</section>
<a href="/assets/files/minamarkham-speakerkit.zip" class="" download>
	<span class="circle" aria-hidden="true">
		<span class="icon arrow"></span>
	</span>
	<span class="button-text">Download Speaker Kit (zip, 232kb)</span>
</a>
<br/><br/>

<div class="page-content">

{% include "partials/my-bios.njk" %}

{% set micro %}

.@MinaMarkham is a Staff Engineer at @SlackHQ, a speaker, organizer, and lover of design systems.
{% endset %}

{% set short %}

Mina Markham is a Staff Engineer at Slack. She’s a lover of design systems and prolific public speaker, appearing at events worldwide, including CSS Dev Conf, Fluent, and Future of Web Design.

Previously at Hillary for America, her work on the Pantsuit pattern library has been spotlighted in [Forbes](https://www.forbes.com/sites/christinawallace/2017/04/17/mina-markahm-is-a-sasstronaut/#2ca6ee847ac3), [WIRED](https://www.wired.com/2016/09/key-clintons-identity-online-pantsuit/), [Fast Company](https://www.fastcompany.com/3063367/hillarys-campaign-named-its-ui-pantsuit-perfectly), and [Communication Arts](https://www.commarts.com/columns/coding-a-pantsuit). Mina likes ampersands, Oreos, traveling, cupcakes, and the color pink. She lives in Oakland, California.
{% endset %}

{% set medium %}

Mina Markham is a front-end architect, international speaker and lover of design systems. She writes code for a living, currently as a Staff Engineer at Slack.

Previously a senior engineer at Hillary for America, her work on the Pantsuit pattern library has been spotlighted in [Forbes](https://www.forbes.com/sites/christinawallace/2017/04/17/mina-markahm-is-a-sasstronaut/#2ca6ee847ac3), [WIRED](https://www.wired.com/2016/09/key-clintons-identity-online-pantsuit/), [Fast Company](https://www.fastcompany.com/3063367/hillarys-campaign-named-its-ui-pantsuit-perfectly), and [Communication Arts](https://www.commarts.com/columns/coding-a-pantsuit).

A prolific public speaker, Mina has appeared at events worldwide, including CSS Dev Conf, Fluent, and Future of Web Design.

Mina likes ampersands, Oreos, traveling, cupcakes, and the color pink. When she's not crafting sites or teaching others, she is probably in her kitchen baking something chocolatey. Mina graduated from [Syracuse University](https://www.syracuse.edu/) with a dual major in Graphic Arts from the S.I. Newhouse School of Public Communications and Women’s Studies. She lives in Oakland, California.
{% endset %}

{% set long %}

Mina Markham is a front-end architect, international speaker, and lover of design systems. She writes code for a living, currently for the Customer Acquisition team at Slack.

Previously, she built the heralded Pantsuit pattern library for Hillary for America, which was utilized by almost every application housed on hillaryclinton.com during the 2016 campaign. Mina’s work has been spotlighted in [Forbes](https://www.forbes.com/sites/christinawallace/2017/04/17/mina-markahm-is-a-sasstronaut/#2ca6ee847ac3), [WIRED](https://www.wired.com/2016/09/key-clintons-identity-online-pantsuit/), [Fast Company](https://www.fastcompany.com/3063367/hillarys-campaign-named-its-ui-pantsuit-perfectly), and [Communication Arts](https://www.commarts.com/columns/coding-a-pantsuit).

A prolific public speaker, Mina has appeared at events worldwide, including An Event Apart, CSS Dev Conf, Fluent, and Future of Web Design.

Mina likes ampersands, Oreos, traveling, cupcakes, and the color pink.  When she's not crafting sites or teaching others, she is probably in her kitchen baking something chocolatey. Mina graduated from [Syracuse University](https://www.syracuse.edu/) with a dual major in Graphic Arts from the S.I. Newhouse School of Public Communications and Women’s Studies, and is living proof that you don't need a computer science degree to work in tech. She lives in Oakland, California.

You can learn more about Mina — and check out her current projects — at [mina.codes](http://mina.codes).
{% endset %}

{% details 'Micro', micro %}{% details 'Short', short, true %}{% details 'Medium', medium %}{% details 'Long', long %}
