---
title: Posts
subtitle: Infrequent musings on tech, design, and other tangentially related things.
permalink: "/posts/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
layout: page.njk
fullWidth: true
eleventyExcludeFromCollections: true
pagination:
  data: collections.posts
  size: 10
  alias: postslist
  reverse: true
---

<ul class="postlist">
	{% for post in postslist %}
	<li class="postlist-item">
		<div class="postlist-wrap">
			<a href="{{ post.url | url }}" class="postlist-link"><span aria-hidden="true"></span>{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
			<time class="postlist-date" datetime="{{ post.date | machineDate }}">{{ post.date | readableDate }}</time>
			{% for tag in post.data.tags %}
			{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
			<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
			{% endfor %}
		</div>
		{% if post.data.canonical %}<p class="postlist-canonical">Originally published for <a href="{{ post.data.canonical.url }}">{{ post.data.canonical.title }}</a></p>{% endif %}
	</li>
	{% endfor %}
</ul>

<nav>
	<ul class="pagination">
		{%- for pageEntry in pagination.pages %}
		<li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} class="is-active" aria-current="page"{% endif %}>{{ loop.index }}</a></li>
		{%- endfor %}
	</ul>
</nav>