---
title: "httbey"
name: "httbey"
metatitle: "httbey | Projects"
category: "development"
tags: ["development"]
description: ""
url: "/projects/httbey/"
link: https://httbey.com
headline: is a collection of Beyoncé GIFs that represent specific HTTP status codes.
excerpt: I wanted to create a fun side project that showcased my favorite artist, Beyoncé. Inspired by <a href="https://http.cat/">HTTP Status Cats</a> by Tomomi Imura.
clientType: Personal Project
when: July 2018
roles: ["Development", "Design"]
github: https://github.com/minamarkham/httpbey
order: 7
footnotes:
- key: status-code
  note: An HTTP status code is a server response to a browser's request.
sections:
  - TL;DR
  - Marquee
---

{% layoutblock 'tl-dr' %}
<p>Most people only know one <a href="status-code" aria-describedby="footnote-label" id="status-code-ref">HTTP response status code</a>: 404. We've all seen it at one point. But I wanted to learn about the lesser known codes. And then I decided to do what I always do: add a little Bey to the mix to make it fun.</p>
{% figure '/assets/images/projects/httbey.png' %}
Once I got a complete list of all the HTTP response status codes, I used my extensive research skills (i.e. Google and Giphy) to find a GIF of Beyoncé that I felt represented the meaning of the code.
{% endlayoutblock %}

{% layoutblock 'marquee' %}
<blockquote class="twitter-tweet marquee__item"><p lang="en" dir="ltr">If you like my HTTP Status Cats 🐱 and love Beyoncé, you are gonna scream at HTTBey by <a href="https://twitter.com/MinaMarkham?ref_src=twsrc%5Etfw">@MinaMarkham</a> 💗 <br>OMG, I like &quot;406: Not Acceptable&quot; <a href="https://t.co/3HgaQDm7aX">https://t.co/3HgaQDm7aX</a></p>&mdash; Tomomi Imura 🌺🌤️ (@girlie_mac) <a href="https://twitter.com/girlie_mac/status/1070784747020808192?ref_src=twsrc%5Etfw">December 6, 2018</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet marquee__item"><p lang="en" dir="ltr">Extremely important resource for all my web developers out there... <a href="https://t.co/DbKDor3y3n">https://t.co/DbKDor3y3n</a> <a href="https://t.co/dbG5V5ts9A">pic.twitter.com/dbG5V5ts9A</a></p>&mdash; Eric 🐿 (@EricMueller) <a href="https://twitter.com/EricMueller/status/1072471563893657601?ref_src=twsrc%5Etfw">December 11, 2018</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet marquee__item"><p lang="en" dir="ltr">Not the internet we deserve, but the internet we need. <a href="https://t.co/jNkiENfuL5">https://t.co/jNkiENfuL5</a></p>&mdash; Joshua Fulfs (@joshuafulfs) <a href="https://twitter.com/joshuafulfs/status/1072688529623449601?ref_src=twsrc%5Etfw">December 12, 2018</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet marquee__item"><p lang="en" dir="ltr">Shout out to <a href="https://twitter.com/MinaMarkham?ref_src=twsrc%5Etfw">@MinaMarkham</a><br>I&#39;m lucky to work with her and YOU&#39;RE ALL BLESSED SHE MADE THIS <a href="https://t.co/6SWmFx6eCm">https://t.co/6SWmFx6eCm</a></p>&mdash; Conr🙏d Muan (@conradmuan) <a href="https://twitter.com/conradmuan/status/1071093144513433600?ref_src=twsrc%5Etfw">December 7, 2018</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet marquee__item"><p lang="en" dir="ltr">HTTBEY provides you with a Beyonce-specific animated GIF for every HTTP response code. You’re welcome. <a href="https://t.co/Ut3f6S01jT">https://t.co/Ut3f6S01jT</a> <a href="https://t.co/8yZnbZAjTv">pic.twitter.com/8yZnbZAjTv</a></p>&mdash; Patrick Haney, not a sausage (.eth/.sol) (@notasausage) <a href="https://twitter.com/notasausage/status/1072558458283659264?ref_src=twsrc%5Etfw">December 11, 2018</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet marquee__item"><p lang="en" dir="ltr">Well this is the greatest thing I&#39;ve found today... A collection of Beyonce GIFs, each one related to an HTTP status code <a href="https://t.co/whxZZJK5a9">https://t.co/whxZZJK5a9</a> by <a href="https://twitter.com/MinaMarkham?ref_src=twsrc%5Etfw">@MinaMarkham</a> <a href="https://t.co/lic5D4Y5jY">pic.twitter.com/lic5D4Y5jY</a></p>&mdash; Abigail Rumsey 🌈 🇪🇺 (@Abbie2020) <a href="https://twitter.com/Abbie2020/status/1072434398845386752?ref_src=twsrc%5Etfw">December 11, 2018</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<blockquote class="twitter-tweet marquee__item"><p lang="en" dir="ltr">somebody had better take this away from me before I change every single status code for my work <a href="https://t.co/EGQGC8SJ1t">https://t.co/EGQGC8SJ1t</a>🐝<a href="https://twitter.com/hashtag/httBey?src=hash&amp;ref_src=twsrc%5Etfw">#httBey</a></p>&mdash; Anna Stokkebye (@AStokkebye) <a href="https://twitter.com/AStokkebye/status/1072226417062989824?ref_src=twsrc%5Etfw">December 10, 2018</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endlayoutblock %}
