---
title: "Yoncé"
name: "Yoncé"
metatitle: "Yoncé | Projects"
category: "development"
tags: ["development"]
description: ""
url: "/projects/yonce/"
link: https://yoncetheme.com
headline: is a Queen Bey inspired color scheme and UI theme tailored for programming.
excerpt: Made for terminal emulators, code editors, and syntax highlighters including Visual Studio Code, iTerm, Slack, Bash-It and more.
clientType: Personal Project
when: July 2018
github: https://github.com/minamarkham/yonce
roles: ["Development", "Design"]
order: 2
sections:
  - TL;DR
  - VS Code
  - Bash
  - Marquee
---

{% layoutblock 'tl-dr' %}
<p>Yoncé is a color scheme and customized user interface theme for Visual Studio Code, Bash, Slack and many other apps. The goal of Yoncé is to unify your apps to reduce noise and context switching, letting you focus on your work.</p><p>I started making Yoncé because I couldn't find a color scheme that felt "right" to me. I wanted something that combined two of my favorite things: Beyoncé and the color pink.
{% endlayoutblock %}

{% layoutblock 'vs-code' %}
{% figure "/assets/images/projects/yonce-vscode.jpg" %}
<p>A professional theme with hand-picked & bold colors for your VS Code editor. Based on Monokai and optimized for use with the Dank Mono font.</p>
{% endlayoutblock %}

{% layoutblock 'bash' %}
{% gif "/assets/images/projects/yonce-bash" %}

<p>Besides a code editor, a terminal is an engineers most used tool. I wanted to create a terminal prompt that introduced a little delight into my day.</p><p>This prompt requires Bash-It and adds several enchancements to the terminal. These include:</p>
<ul>
  <li>Clever hostname, username, and directory displaying;</li>
  <li>Current Git branch and rich repo status;</li>
  <li>Current Node.js version, through nvm<;/li>
  <li>Current battery level and status;</li>
  <li>Time stamps 24hr in format; and</li>
  <li>a random Beyoncé lyric!</li>
</ul>
{% endlayoutblock %}

{% layoutblock 'marquee' %}
<blockquote class="twitter-tweet marquee__item"><p lang="en" dir="ltr">Part of my mental health care is using <a href="https://twitter.com/MinaMarkham?ref_src=twsrc%5Etfw">@MinaMarkham</a>&#39;s Yonce theme. <a href="https://t.co/BSX4q9z4k4">https://t.co/BSX4q9z4k4</a></p>&mdash; Cher Scarlett (@cherthedev) <a href="https://twitter.com/cherthedev/status/1166511064735014912?ref_src=twsrc%5Etfw">August 28, 2019</a></blockquote> 

<blockquote class="twitter-tweet marquee__item"><p lang="en" dir="ltr">finally got my code editor and terminal wired up with ⁦<a href="https://twitter.com/MinaMarkham?ref_src=twsrc%5Etfw">@MinaMarkham</a>⁩ ‘s Yoncé theme and it’s every bit as satisfying as I thought it’d be thanks I love it ✨🤩👑😌 <a href="https://t.co/udCR4wUt1J">https://t.co/udCR4wUt1J</a></p>&mdash; @thecristen@indieweb.social (@thecristen) <a href="https://twitter.com/thecristen/status/1108826544888270848?ref_src=twsrc%5Etfw">March 21, 2019</a></blockquote> 

<blockquote class="twitter-tweet marquee__item"><p lang="en" dir="ltr">Time to update my color themes - <a href="https://t.co/ZakZBIiipI">https://t.co/ZakZBIiipI</a> <br>Totally in love with it -) My VS Code is so pink-ish now 😊</p>&mdash; Mari 👀 (@obnoxious_mari) <a href="https://twitter.com/obnoxious_mari/status/1049421650859458560?ref_src=twsrc%5Etfw">October 8, 2018</a></blockquote> 

<blockquote class="twitter-tweet marquee__item" data-conversation="none" data-dnt="true"><p lang="en" dir="ltr">( i just modified <a href="https://t.co/lEFRF5fbpS">https://t.co/lEFRF5fbpS</a> ) <a href="https://t.co/NnZGZ5y5x9">pic.twitter.com/NnZGZ5y5x9</a></p>&mdash; creamy mami (@skullface) <a href="https://twitter.com/skullface/status/1117920700189245440?ref_src=twsrc%5Etfw">April 15, 2019</a></blockquote> 

<blockquote class="twitter-tweet marquee__item"><p lang="en" dir="ltr">Intermittent reminder that <a href="https://twitter.com/MinaMarkham?ref_src=twsrc%5Etfw">@MinaMarkham</a>&#39;s Yoncé theme is beautiful. <a href="https://t.co/3T2cSYjJaS">https://t.co/3T2cSYjJaS</a></p>&mdash; new year same meh (@marmalade) <a href="https://twitter.com/marmalade/status/1275810225602297856?ref_src=twsrc%5Etfw">June 24, 2020</a></blockquote> 

<blockquote class="twitter-tweet marquee__item" data-conversation="none" data-dnt="true"><p lang="en" dir="ltr">Combine that with the Yoncé theme that I use in Code and we&#39;re all set! <a href="https://t.co/pUuHkp4hiF">https://t.co/pUuHkp4hiF</a></p>&mdash; Scott Hanselman (@shanselman) <a href="https://twitter.com/shanselman/status/1402714503586795522?ref_src=twsrc%5Etfw">June 9, 2021</a></blockquote> 

<blockquote class="twitter-tweet marquee__item"><p lang="en" dir="ltr">Soooo I just learned about the Yoncé theme (<a href="https://t.co/5ym2bGiSkl">https://t.co/5ym2bGiSkl</a>) which is apparently inspired by Queen Bey and it&#39;s kinda great?<br><br>Here&#39;s my new VSCode setup using it - <a href="https://t.co/AJ3H8oiLqd">pic.twitter.com/AJ3H8oiLqd</a></p>&mdash; mani 🐝 (@itsrainingmani) <a href="https://twitter.com/itsrainingmani/status/1174785305217503242?ref_src=twsrc%5Etfw">September 19, 2019</a></blockquote> 

<blockquote class="twitter-tweet marquee__item"><p lang="en" dir="ltr">Just wanted to remind you how awesome <a href="https://twitter.com/MinaMarkham?ref_src=twsrc%5Etfw">@MinaMarkham</a>&#39;s yonce theme for VS Code, Alfred, bash etc. is.<a href="https://t.co/V4qL8rbl01">https://t.co/V4qL8rbl01</a></p>&mdash; james (@varjmes) <a href="https://twitter.com/varjmes/status/1110866535676108800?ref_src=twsrc%5Etfw">March 27, 2019</a></blockquote> 

{% endlayoutblock %}