@use 'sass:math';

@import 'root';
@import 'reset';

body {
	background: #1c1c1c;
	color: var(--color--foreground);
	font-size: 2vw;
	line-height: 1em;
	font-family: var(--font-family-monospace);
	display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    padding: 4vw;
}

p {
	margin-bottom: 2rem;
	&:last-child::after {
		display: inline-block;
		vertical-align: -0.15em;
		width: 0.5em;
		height: 1em;
		margin-left: 5px;
		background: var(--color--foreground);
		animation: cursor-blink 1.25s steps(1) infinite;
		content: '';
	}
}

a { color: var(--color--primary); }

.homedir { color: var(--color--accent); }

.input::before { content: '$ '; }

@keyframes cursor-blink {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

@import '_fonts';
