.page-content {
	width: clamp(15rem,90vw,70rem);
	max-width: 50rem;
}

.archive {
	display: flex;
	overflow: hidden;
	position: relative;
	justify-content: center;
}

.archive__item {
	font-size: 11.5vw;
	margin: 0 1vw;
	font-weight: 900;
	line-height: 1;
}

.scroll {
	width: 100vw;
	inset-block-start: 0;
	transform: translate(-30%);
	mix-blend-mode: multiply;
	white-space: nowrap;
	font-style: italic;
	color: var(--color-text);
	margin: 4rem 0;
	font-size: 2.5rem;

	@media (prefers-reduced-motion: no-preference) {
		animation: scroll 30s linear infinite;
	}

	@include screen(45em) {
		inset-block-start: 3.5rem;
	}
}

blockquote.twitter-tweet {
	padding: 1.5rem 2rem 1.5rem 6rem;
	margin-inline: auto;
	border: 2px solid var(--color-foreground);
	border-radius: 8px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M13.1 24.4c7.1 0 11-5.9 11-11v-.5c.8-.5 1.4-1.2 1.9-2-.7.3-1.4.5-2.2.6.8-.5 1.4-1.2 1.7-2.1-.7.4-1.6.8-2.4.9-.7-.8-1.7-1.2-2.8-1.2-2.1 0-3.9 1.7-3.9 3.9 0 .3 0 .6.1.9-3.2-.2-6-1.7-8-4-.3.5-.5 1.2-.5 1.9 0 1.3.7 2.5 1.7 3.2-.6 0-1.2-.2-1.7-.5 0 1.9 1.3 3.4 3.1 3.8-.3.1-.7.1-1 .1-.2 0-.5 0-.7-.1.5 1.5 1.9 2.6 3.6 2.7-1.3 1-3 1.6-4.8 1.6-.3 0-.6 0-.9-.1 1.6 1.3 3.6 1.9 5.8 1.9' fill='%231b9df0'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 1rem 1rem;
	background-size: 4rem 4rem;

	p {
		line-height: 1.5;

		&:first-of-type::before {
			display: none;
		}
	}

	>*+* {
		margin-top: 1.5rem;
	}
}

.header {
	margin-bottom: 5vw;
	font-size: clamp(1.31rem, 1.24rem + 0.37vw, 1.5rem);
	width: clamp(15rem, 90vw, 70rem);
	max-width: 50rem;
	@include screen(940px) { h1 { margin-left: -2rem; } }
}

.button-copy {
	right: 0;
	position: absolute;
	top: 5rem;
	background: none;
	border: none;
	cursor: pointer;

	&:hover,
	&:active,
	&:focus {
		background: none;
	}
}

.📍 {
	--animate-duration: 1s;
	fill: var(--color-primary);
	animation-name: pulse;
	animation-timing-function: ease;
	animation-duration: var(--animate-duration);
	animation-iteration-count: infinite;
}

.hidden {
	display: none;
}

.embed {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;

	iframe,
	video {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

.arrow {
	font-size: 1.8rem;
	vertical-align: top;
	padding-right: 0.5rem;
	line-height: 1;
}

.offline-btn {
	-webkit-transition-duration: .25s;
	-o-transition-duration: .25s;
	transition-duration: .25s;
	background: 0 0;
	border: none;
	outline: 0;
	border-bottom: 1px dashed var(--color-primary);
	padding: 0;
	margin-top: 1rem;
	text-transform: uppercase;
	font-size: 1rem;
	cursor: pointer;
}

// https://codepen.io/gschier/pen/kyRXVx?editors=1000
.lightbox {
	display: none;
	position: fixed;
	z-index: 5000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 7em;
	background: rgba(0, 0, 0, 0.8);

	&:target {
		display: block;
	}

	span {
		display: block;
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.u-desktop-only {
	display: none;
	@media (min-width: 1260px) { display:block }
}
