.post {
	width: clamp(15rem, 90vw, 70rem);
	max-width: 50rem;

	h1 {
		&::before, &::after {
			color: var(--gray-80);
		}
		&::before {
			content: '/*';
			margin-left: calc(-2rem - 10px);
			margin-right: 10px;
		}
		&::after {
			content: '*/';
			margin-left: 10px;
		}
	}
}

.postlist {
	list-style: none;
	padding: 0;
	margin-left: -20px;
}

.postlist-item {
	line-height: 1.8;
	font-size: 1.8rem;
	margin-bottom: 0.5rem;
	.post-pagination & { line-height: 1; }
}

.postlist-date {
	font-size: 0.8125em;
	color: var(--gray-20);
	word-spacing: -0.5px;
}

.postlist-link {
	padding-right: .25em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
	position: relative;
	display: inline-block;

	&:visited {
		&, * { color: var(--gray-70); }
		span::before {
			color: var(--color-background);
		}
	}

	.postlist-item-active & {
		font-weight: bold;
	}

	span {
		position: absolute;
		left: -15px;
		top: -8px;

		&::before {
			color: var(--color-primary);
			content: "\2217";
		}
	}
}

.post-header {
	margin-bottom: 5vw;
	width: 80%;

	h1 + h2 {
		margin-top: 0;
		font-weight: 300;
		font-style: italic;
	}
}

.post-tag {
	text-transform: uppercase;
	font-size: 01rem;
	margin-left: 0.6667em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: inherit;
	line-height: 1.8;

	&:visited {
		color: inherit;
	}

	&::before {
		content: '#';
		color: var(--color-primary);
	}
}

.postlist-canonical {
	font-size: 1rem;
	display: block;
	margin-top: -10px;
}

.tags {
	text-transform: uppercase;
	font-size: 1rem;
	margin-top: 2rem;
}