.post {
	width: clamp(15rem, 90vw, 70rem);
	max-width: 50rem;
}

.postlist {
	list-style: none;
	padding: 0;
	margin-left: -20px;
}

.postlist-item {
	line-height: 1.8;
	font-size: 1.8rem;
	margin-bottom: 0.5rem;
	.post-pagination & { line-height: 1; }
}

.postlist-date {
	font-size: 0.8125em;
	color: var(--color-gray-90);
	word-spacing: -0.5px;
}

.postlist-link {
	padding-right: .25em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
	position: relative;
	display: inline-block;

	&:visited span::after {
		color: var(--color-primary);
	}

	.postlist-item-active & {
		font-weight: bold;
	}

	span {
		position: absolute;
		left: -1.2rem;
		top: 3.3rem;

		&::after {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 0.5rem;
			color: var(--color-background);
			content: "✓";
		}
	}
	.post-pagination & { span { top: 1.8rem; } }
}

.post-header {
	margin-bottom: 5vw;
	width: 80%;

	h1 + h2 {
		margin-top: 0;
		font-weight: 300;
		font-style: italic;
	}
}

.post-tag {
	text-transform: uppercase;
	font-size: 01rem;
	margin-left: 0.6667em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: inherit;
	line-height: 1.8;

	&:visited {
		color: inherit;
	}

	&::before {
		content: '#';
		color: var(--color-primary);
	}
}

.postlist-canonical {
	font-size: 1rem;
	display: block;
	margin-top: -10px;
}

.tags {
	text-transform: uppercase;
	font-size: 1rem;
	margin-top: 2rem;
}