:root {
	--font-family-sans-serif: 'TT Chocolates', sans-serif;
	--font-family-monospace: 'Dank Mono', monospace;
	--font-family-system: system-ui, -apple-system, sans-serif;
	--pink: #F37;
	--teal: #008080;
	--cyan: #48DED4;
	--white: #FFF;
	--black: #000;
	--off-white: #F2F2F2;
	--off-black: #1C1C1C;
	--magenta: #E82C75;
	--fuschia: #FF0081;
	--dark-fuschia: #E60074;
	--color-gray-90: #333;
	--color-primary: var(--pink);
	--color-accent: var(--teal);
	--color-background: var(--white);
	--color-foreground: #CBCCCD; // bdbdbd
	--color-text: var(--off-black);
	--color-link: var(--color-primary);
	--code-bg: #0F1C23;
	--button-bg: var(--fuschia);
	--button-bg-active: var(--dark-fuschia);
	--background-pattern: radial-gradient(var(--color-foreground) 1px, var(--color-background) 1px);
	--kbd-color-background: #F7F7F7;
	--kbd-color-border: #CBCCCD;
	--kbd-color-text: #222325;
	--aspect-ratio: 16 / 9;

	// @media (prefers-color-scheme: dark)
	&[dark] {
		--color-gray-90: #DAD8D8;
		--color-text: #CCC;
		--color-background: var(--off-black);
		--color-foreground: #222;
	}
}