:root {
	--speedlify-border: #0cce6b;
	--speedlify-good: #088645;
	--speedlify-ok: #ffa400;
	--speedlify-bad: #ff4e42;
	--speedlify-up: #008000;
	--speedlify-down: #ff0000;
}

speedlify-score {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
/* The Lighthouse scoring circles */
.speedlify-score {
	font-size: 0.8125em; /* 13px /16 */
	width: 2.6em;
	height: 2.6em;
	line-height: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 2px solid var(--speedlify-border);
	color: var(--speedlify-good);
	margin-left: 0.4615384615385em; /* 6px /13 */
}
.speedlify-score-ok {
	color: var(--speedlify-ok);
	border-color: currentColor;
}
.speedlify-score-bad {
	color: var(--speedlify-bad);
	border-color: currentColor;
}
.speedlify-rank:before {
	content: "Rank #";
}
.speedlify-rank-change {
	font-size: 0.8125em; /* 13px /16 */
}
.speedlify-rank-change:before {
	line-height: 1;
}
.speedlify-rank-change.up {
	color: var(--speedlify-up);
}
.speedlify-rank-change.up:before {
	content: "⬆";
}
.speedlify-rank-change.down {
	color: var(--speedlify-down);
}
.speedlify-rank-change.down:before {
	content: "⬇";
}
speedlify-score > :not(.speedlify-score) {
	margin-left: 0.625em; /* 10px /16 */
}
speedlify-score > :first-child {
	margin-left: 0;
}