/* @link https://aristath.github.io/blog/typography-scales-with-css-vars */
/* @link https://moderncss.dev/generating-font-size-css-rules-and-creating-a-fluid-type-scale */

:root {
	--base-size: 1em;
	--line-height: 1.45;
	--minor-second: 1.067;
	--major-second: 1.125;
	--minor-third: 1.2;
	--major-third: 1.25;
	--perfect-fourth: 1.333;
	--augmented-fourth: 1.414;
	--perfect-fifth: 1.5;
	--golden-ratio: 1.618;
	--type-scale: var(--minor-third);
	--size-l-1: calc(1rem * var(--type-scale));
	--size-l-2: calc(var(--size-l-1) * var(--type-scale));
	--size-l-3: calc(var(--size-l-2) * var(--type-scale));
	--size-l-4: calc(var(--size-l-3) * var(--type-scale));
	--size-l-5: calc(var(--size-l-4) * var(--type-scale));
	--size-l-6: calc(var(--size-l-5) * var(--type-scale));
	--size-l-7: calc(var(--size-l-6) * var(--type-scale));
	--size-s-1: calc(1rem / var(--type-scale));
	--size-s-2: calc(var(--size-s-1) / var(--type-scale));
	--size-s-3: calc(var(--size-s-2) / var(--type-scale));
	--space-xxs: 0.5rem;
	--space-xs: 1rem;
	--space-sm: 1.5rem;
	--space-md: 2rem;
	--space-lg: 2.75rem;
}

body {
	font-size: var(--base-size);
}

h1 {
	font-size: var(--size-l-5);
}
h2 {
	font-size: var(--size-l-4);
}
h3 {
	font-size: var(--size-l-3);
}
h4 {
	font-size: var(--size-l-2);
}
h5 {
	font-size: var(--size-l-1);
}
h6 {
	font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

a {
	color: var(--color-link);
	cursor: pointer;
	word-break: break-word;
	text-decoration: none;
}

blockquote {
	margin: 2rem 0;
	padding: 0;
	position: relative;
	min-width: 400px;
	max-width: 820px;
	font-size: var(--size-l-1);
	line-height: 1.4;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-fon-smoothing: grayscale;

	p {
		&:first-of-type::before {
			content: '\201c';
			position: absolute;
			font-size: 2rem;
			font-family: 'Arial', system-ui, -apple-system, sans-serif;
			left: -15px;
		}

		&:last-of-type::after {
			content: '\201d';
			position: absolute;
			font-size: 2rem;
			font-family: 'Arial', system-ui, -apple-system, sans-serif;
			margin-left: 5px;
		}
	}

	footer {
		position: relative;
		margin-top: 1rem;
		text-transform: uppercase;
		font-size: 0.6em;
		letter-spacing: 1px;
		font-weight: 700;

		&::before {
			content: '–';
			margin-right: 0.6em;
		}
	}
}

li {
	padding-left: 15px;

	&::marker {
		color: var(--color-primary);
	}
}

ul {
	list-style: square;
	padding-left: 0;
	margin-left: 20px;
}

ol {
	counter-reset: number;
	list-style: decimal-leading-zero;
	padding-left: 0;
	margin-left: 35px;
}

.pullquote {
	max-width: 620px;
	margin: 2rem auto 4rem;
	position: relative;

	p {
		font-family: var(--font-family-sans-serif);
		position: relative;
		color: var(--color-primary);
		font-size: 1.25rem;
		font-weight: 500;
		font-style: italic;
		line-height: 1.2;
		margin: 0;
		border: 2px solid var(--white);
		border: solid 2px;
		border-radius: 20px;
		padding: 25px;

		&::after {
			content: '';
			position: absolute;
			border: 2px solid var(--color-primary);
			border-radius: 0 50px 0 0;
			width: 60px;
			height: 20px;
			bottom: -20px;
			left: 50px;
			border-bottom: none;
			border-left: none;
			z-index: 3;
		}

		&::before {
			content: '';
			position: absolute;
			width: 80px;
			border: 6px solid var(--white);
			bottom: -3px;
			left: 50px;
			z-index: 2;
		}
	}

	cite {
		position: absolute;
		left: 144px;
		bottom: -30px;

		&::before {
			content: '—';
			margin-right: 10px;
		}

		&::first-letter {
			margin-left: -12px;
		}
	}
}

.page-title {
	font-family: var(--font-family-monospace);
	font-style: italic;
	font-size: clamp(2rem, 4vw, 4rem);
	letter-spacing: -4px;

	&::before {
		content: '/';
		color: var(--color-primary);
	}
}

.inline-list {
	margin: 0;

	li {
		display: inline-block;
		padding: 0;

		&::before {
			display: none;
		}

		&:not(:last-child)::after {
			content: ', ';
		}
	}
}

* + h2 {
	margin-top: var(--space-md);
}

* + h3 {
	margin-top: var(--space-lg);
}

* + :is(h4, h5, h6) {
	margin-top: var(--space-sm);
}

* + p {
	margin-top: var(--space-xs);
}

h2 + h3 {
	margin-top: var(--space-sm);
}

h3 + h4 {
	margin-top: var(--space-xs);
}

:is(h4, h5, h6) + p {
	margin-top: var(--space-xxs);
}

h1 {
	letter-spacing: -0.0125em;
	line-height: 1.2;
}

h2 {
	letter-spacing: -0.01em;
	line-height: 1.3;
}

h3 {
	letter-spacing: -0.005em;
	line-height: 1.3;
}

h4 {
	letter-spacing: -0.0025em;
	line-height: 1.3;
}

h5 {
	letter-spacing: 0.04em;
	line-height: 1.3;
	text-transform: uppercase;
}

h6 {
	letter-spacing: 0.06em;
	line-height: 1.3;
	text-transform: uppercase;
}

p {
	letter-spacing: -0.0025em;
	line-height: 1.3;
}
