/* @link https://codepen.io/oliviale/pen/mgWjpq */
/* @link https://codepen.io/oliviale/pen/GbmyYx */

@import 'mixins';

main {
	padding: 0 5vw;
	margin-top: 10rem;
	flex: 1;
	position: relative;
}

.styleguide {
	width: 90%;
	max-width: 1200px;
	margin: 3em auto 0;
	border: 1px solid var(--color-primary);
	display: grid;
	color: var(--color-text);
	text-align: left;
	grid-template-columns: 100%;
	grid-template-rows: repeat(9, fit-content(300px));
	grid-template-areas:
		"colors"
		"typography"
		"links"
		"marquee"
		"code"
		"buttons"
		"social"
		"pagination"
		"animation"
		"footnotes"
		"forms"
		"tables"
		"media1"
		"media2"
		"media3"
		"media4"
		"media5";
	@include screen(992px) {
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(10, fit-content(300px));
		grid-template-areas:
			"colors colors colors colors colors"
			"typography typography typography typography typography"
			"code code marquee marquee marquee"
			"social social social animation links"
			"buttons buttons buttons pagination links"
			"footnotes footnotes forms forms forms"
			"tables tables tables tables tables"
			"media1 media1 media2 media2 media2"
			"media1 media1 media3 media3 media3"
			"media4 media4 media4 media5 media5";
	}
}

section {
	position: relative;
	padding: 30px;
	border: 1px solid var(--color-primary);

	h6 {
		color: var(--color-text);
		background: var(--color-background);
		position: absolute;
		top: -12px;
		left: 20px;
		padding: 0 10px;
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		z-index: 1;
		font-weight: 800;
	}
}

.colors {
	grid-area: colors;
	border: 1px solid var(--color-primary);
}

.typography {
	grid-area: typography;
	.label {
		font-weight: 700;
		margin: 0;
		font-size: .8rem;
		text-transform: uppercase;
		display: block;
	}
}

.buttons {
	grid-area: buttons;

	> * {
		margin-right: 20px;
	}
}

.links {
	grid-area: links;
}

.quotes {
	grid-area: quotes;
}

.code {
	grid-area: code;
}

.social {
	grid-area: social;
}

.s-pagination {
	grid-area: pagination;
	display: flex;
	align-items: center;
	justify-content: center;
	.pagination { padding: 0; }
}

@keyframes pulse {
	0% {
		r: 20;
	}

	50% {
		r: 25;
	}

	100% {
		r: 20;
	}
}

.animation {
	grid-area: animation;
	display: flex;
	align-items: center;
	justify-content: center;

	circle {
		--animate-duration: 1s;
		fill: var(--color-primary);
		animation-name: pulse;
		animation-timing-function: ease;
		animation-duration: var(--animate-duration);
		animation-iteration-count: infinite;
	}
}

.media-card-1 {
	grid-area: media1;
}

.media-card-2 {
	grid-area: media2;
}

.media-card-3 {
	grid-area: media3;
}

.media-card-4 {
	grid-area: media5;
}

.media-card-5 {
	grid-area: media4;
}

.s-footnotes {
	grid-area: footnotes;
}

.marquee-block {
	grid-area: marquee;
	.wrap {
		overflow-x: hidden;
	}
}

.tables {
	grid-area: tables;
}

.forms {
	grid-area: forms;
}

form,
blockquote {
	margin: 0;
}

.font-family {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	h1 {
		font-size: 48px;
		line-height: 1;
	}

	> div {
		flex: 1 1 15%;
		padding: 30px 30px 0;
	}
}

h1 {
	.font-family-dankmono-bold & {
		font-family: var(--font-family-monospace);
		font-weight: 800;
	}

	.font-family-dankmono-italic & {
		font-family: var(--font-family-monospace);
		font-style: italic;
	}

	.font-family-dankmono-regular & {
		font-family: var(--font-family-monospace);
	}

	.font-family-ttchocolates-bold-italic & {
		font-weight: 700;
		font-style: italic;
	}

	.font-family-ttchocolates-bold & {
		font-weight: 700;
	}

	.font-family-ttchocolates-demi-bold-italic & {
		font-weight: 600;
		font-style: italic;
	}

	.font-family-ttchocolates-demi-bold & {
		font-weight: 600;
	}

	.font-family-ttchocolates-extra-bold-italic & {
		font-weight: 800;
		font-style: italic;
	}

	.font-family-ttchocolates-extra-bold & {
		font-weight: 800;
	}

	.font-family-ttchocolates-extra-light-italic & {
		font-weight: 200;
		font-style: italic;
	}

	.font-family-ttchocolates-extra-light & {
		font-weight: 200;
	}

	.font-family-ttchocolates-italic & {
		font-weight: 400;
		font-style: italic;
	}

	.font-family-ttchocolates-light-italic & {
		font-weight: 300;
		font-style: italic;
	}

	.font-family-ttchocolates-light & {
		font-weight: 300;
	}

	.font-family-ttchocolates-medium-italic & {
		font-weight: 500;
		font-style: italic;
	}

	.font-family-ttchocolates-medium & {
		font-weight: 500;
	}

	.font-family-ttchocolates-regular & {
		font-weight: 400;
	}
}

.font-example {
	display: flex;
	flex-wrap: wrap;

	> div {
		flex: 1 1 45%;
		padding: 30px;
		min-width: 16em;
	}

	p {
		margin-bottom: 15px;
	}

	.label {
		letter-spacing: 0.03em;
		display: block;
		margin: 10px 0 40px;
	}
}

.subheader {
	grid-column: span 5;
	text-align: left;
	padding: 10px 0;
	font-weight: 800;
	margin: 0;
	font-size: .9rem;
	text-transform: uppercase;
}

.color-row {
	display: flex;
	justify-content: space-between;
}

.color-block {
	font-family: var(--font-family-monospace);
	max-width: 10em;
	margin: 10px 0 0;
	font-size: 16px;
	font-weight: bold;
	&::after {
		content: '--color-' attr(data-color);
	}
}

.color-swatch {
	width: 11vw;
	min-height: 120px;
	max-width: 10em;
	padding: 10px;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: wrap;
	text-align: center;
	.color-primary & {
		background: var(--color-primary);
	}
	.color-secondary & {
		background: var(--color-secondary);
	}
	.color-background & {
		background: var(--color-background);
		border: 1px solid;
	}
	.color-text & {
		background: var(--color-text);
	}
	.color-accent & {
		background: var(--color-accent);
	}
}
