@import 'reset';
@import '_typebase';

:root {
	--primary: #f37;
	--background: #f2f2f2;
	--white: #fff;
	--black: #000;
	--font-family-sans-serif: 'TT Chocolates', sans-serif;
	--font-family-monospace: 'Dank Mono', monospace;
	--font-family-system: system-ui, -apple-system, sans-serif;
}

$tablet-width: 768px;

@mixin tablet-up {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}

body {
	font-family: var(--font-family-sans-serif);
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: var(--white);
	background-image: radial-gradient(rgb(189, 189, 189) 1px, var(--white) 1px);
	background-size: 20px 20px;
	background-attachment: fixed;
	position: relative;
	&::before {
		content: '';
		height: 10px;
		background-color: var(--primary);
		position: fixed;
		left: 0;
		right: 0;
		z-index: 1000;
	}
}

main {
	z-index: 1;
	padding: 3rem;
	@include tablet-up {
		padding: 0;
		bottom: 6rem;
		left: 4rem;
		position: absolute;
		width: 40rem;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
pre,
kbd,
samp,
tt,
code[class*='language-'],
pre[class*='language-'] {
	font-family: var(--font-family-monospace);
	font-style: italic;
}

a {
	color: var(--primary);
	cursor: pointer;
	word-break: break-word;
	text-decoration: none;
}

a:visited { color: inherit; }

a[href^="//"]:after, a[href^="http://"]:after, a[href^="https://"]:after {
	content: '↗';
	font-family: system-ui, -apple-system, sans-serif;
	font-style: normal;
	font-weight: 900;
	color: var(--primary);
	padding-left: 2px;
	line-height: 0.75;
	font-size: 0.8em;
}

@import '_fonts';
