<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mina Markham</title>
    <link rel="stylesheet" href="/assets/styles/styles.css">
  </head>
  <body class="page-404">
      <div class="code-area">
        <span style="color: #777;font-style:italic;">
          // 404 page not found
        </span>
        <br>
        <span>
          <span style="color:#d65562;">if</span><span style="color: #a6a61f">(</span>
          <span style="color:#d65562;">!</span><span style="font-style: italic;color:#fff;">found</span>
          <span style="color: #a6a61f">)</span>
          {
        </span>
        <span>
          <span style="padding-left: 15px;color:#d65562">
            <i style="width: 10px;display:inline-block"></i>throw
          </span>
          <span>
            <span style="color: #a6a61f">(</span><span style="color: #fff">"</span><span style="color: #a6a61f">(╯°□°)╯︵ ┻━┻</span><span style="color: #fff">"</span>);
          </span>
          <span style="display:block">}</span>
          <br>
          <span style="color: #f37;font-style:italic;">
            <a href="/">return home<span style="color: #a6a61f">()</span>;</a>
          </span>
        </span>
      </div>
  </body>
</html>
