---
layout: base.njk
---

<div class="header">
    <h1 class="page-title">{{ title | lower | slugify }}</h1>
    <p>{{ subtitle }}</p>
</div>

<div class="{% if not fullWidth %}page-content{% endif %}">
    {{ layoutContent | safe }}
</div>
