---
layout: base.njk
---
{% if 'vibe check' in tags %}
{%- set collection = collections['vibe check'] %}
{% else %}
{%- set collection = collections.posts %}
{% endif %}

{%- set randomPosts = collection | randomLimit(3, page.url) %}

<nav>
	<a href="/posts/">← back to /posts/</a>
</nav>

<article class="post">
	<div class="post-header">
		{% if tags %}
		<small class="tags">
			<span>Filed under</span>
			{% for tag in tags %}
				{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
				<a href="{{ tagUrl }}" class="post-tag" rel="tag">{{ tag }}</a>
			{% endfor %}
		</small>
		{% endif %}
		<h1>{{ title }}</h1>
		<h2>{{ subtitle }}</h2>
		<p>Published on <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time>
		{% if canonical %}— for <a href="{{ canonical.url }}">{{ canonical.title }}</a>{% endif %}</p>
		<button class="offline-btn">
			<span class="circle" aria-hidden="true">
				<span class="cache-icon">⬇</span>
			</span>
			<span class="button-text">Save for Offline</span>
		</button>
	</div>
	{{ layoutContent | safe }}
</article>

<section class="post-pagination pagination--prev-next">
	{% if 'vibe check' in tags %}
	{% include "partials/more-vibes.njk" %}
	{% else %}
	{% include "partials/keep-reading.njk" %}
	{% endif %}
	<ol class="postlist">
		{% for post in randomPosts %}
		<li class="postlist-item">
			<div class="postlist-wrap">
				<a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}<span aria-hidden="true"></span></a>
				<time class="postlist-date" datetime="{{ post.date | machineDate }}">{{ post.date | readableDate }}</time>
				{% for tag in post.data.tags %}
				{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
				<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
				{% endfor %}
			</div>
		</li>
		{% endfor %}
	</ol>
</section>
